* {
  margin: 0%;
  padding: 0%;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  min-width: fit-content;
}
a {
  text-decoration: none;
}
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  > svg {
    font-size: 15rem;
    color: #a52a2a;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.3;
  }

  > div {
    > p {
      font-size: 2rem;
      color: black;
    }
  }
}
